@use "../../../../scss/variables.scss" as *;

:host {
  display: block;
  padding: 8px;
}

.character-list {
  &-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 16px;
  }

  &-paginator {
    margin-top: 12px;
  }
}

.character-card {
  &-subtitle {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &-content-item span {
    font-weight: 600;
  }
}

@media screen and (min-width: $screen-size-mobile-lg) {
  :host {
    padding: 16px;
  }
}

@media screen and (min-width: $screen-size-tablet) {
  .character-list-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: $screen-size-laptop-sm) {
  .character-list-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: $screen-size-laptop-md) {
  .character-list-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: $screen-size-laptop-lg) {
  :host {
    padding: 32px;
  }
  .character-list-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: $screen-size-laptop-xl) {
  .character-list-container {
    grid-template-columns: repeat(6, 1fr);
  }
}
