@use "../../../../scss/variables.scss" as *;

:host {
  display: block;
  height: 100%;
  overflow: hidden;
}

.character-list {
  &-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 16px;
    padding: 8px;
    height: calc(100% - 180px);
    overflow: auto;
  }

  &-paginator {
    border-top: 1px solid #bec9c8;
    padding: 16px 8px 0;
  }
}

.character-card {
  &-subtitle {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &-content-item span {
    font-weight: 600;
  }
}

@media screen and (min-width: $screen-size-mobile-lg) {
  .character-list-container {
    padding: 16px;
    height: calc(100% - 196px);
  }

  .character-list-paginator {
    padding: 16px 16px 0;
  }
}

@media screen and (min-width: $screen-size-tablet) {
  .character-list-container {
    grid-template-columns: 1fr 1fr;
    height: calc(100% - 124px);
  }
}

@media screen and (min-width: $screen-size-laptop-sm) {
  .character-list-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: $screen-size-laptop-md) {
  .character-list-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: $screen-size-laptop-lg) {
  .character-list-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: $screen-size-laptop-xl) {
  .character-list-container {
    grid-template-columns: repeat(6, 1fr);
  }
}
